* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    color: #fff;
    background: linear-gradient(10deg, #2483ff 60%, #2c6afb 60%);
}

nav {
    margin-top: 100px;
    background-color: #292929;
    text-align: center;
}

ul {
    list-style: none;
    font-size: 24px;
}

.menu-item {
    display: inline-block;
    height: 100px;
    width: 300px;
    line-height: 100px;
    cursor: pointer;
    transition: background-color .3s;
}

.menu-item:hover {
    background-color: #363636;
}

.dropdown {
    position: absolute;
    width: 300px;
}

/* Navbar one */

.dropdown li {
    background-color: #50515A;
    display: none;
    opacity: 0;
    transition: color .3s;
}

.dropdown li:hover {
    color: royalblue;
}

.menu-item:hover .dropdown li {
    display: block;
    animation: menu1 .5s forwards;
}

.menu-item:hover .dropdown li:nth-child(2) {
    animation-delay: .2s;
}

.menu-item:hover .dropdown li:nth-child(3) {
    animation-delay: .4s;
}

.menu-item:hover .dropdown li:nth-child(4) {
    animation-delay: .6s;
}

.menu-item:hover .dropdown li:nth-child(5) {
    animation-delay: .8s;
}

.menu-item:hover .dropdown li:nth-child(6) {
    animation-delay: 1s;
}

@keyframes menu1 {
    from {
        opacity: 0;
        transform: rotate(36deg);
    }

    to {
        opacity: 1;
        transform: rotate(0);
    }
}

/* Navbar two */

.two:hover .dropdown li {
    animation: menu2 .5s forwards;
}

@keyframes menu2 {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}